*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

/* BUTTON DARK LIGHT */
/* Light theme */
#myBody{
    background-color:white;
  }
#switchButton {
background-color: white;
}
#switchButton .fa-sun {
display: none;
}
#switchButton .fa-moon {
display: block;
}

/* HEADER */
.dark header{

    background-color: #151515;
}
header{
    /* height: 90px; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    display: grid;
    align-items: center;
    background-color: white;
    transition: all .5s;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 2;
}

.header__container .navbar{
    position: relative;
}

.navbar-light .navbar-brand{
    color: #189A46;
    font-size: 34px;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 1.2em;
}


.header__container .nav-link i{
    font-size: 14px;
    font-weight: 600;
    margin-left: 2px;
}

#navbarSupportedContent{
    text-align: center;
}

/* DARK NAV LINK */
.dark .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#189A46;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
    transition: all .5s;
    position: relative;
    padding: 0;
}



.navbar-light .navbar-nav .nav-item{
    padding: 7px 10px;
}

.navbar-light .navbar-nav .nav-link::after {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 width: 0;
 height: 1px;
 background-color: #189A46;
transition: all .5s;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    color: #189A46;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #189A46;
}

 
  /* Dark Theme*/
.dark#myBody{
background-color:black;
}
.dark #switchButton {
background-color: #151515;
}
.dark #switchButton .fa-sun {
display: block;
color: rgba(255, 255, 255, 0.9);
}

.dark #switchButton .fa-moon {
display: none;
}
.dark .card {
background-color: black;
color: white;
}


.header__container .dropdown-item{
    /* padding: 0; */
    position: relative;
    transition: all .5s;
}

.header__container a.dropdown-item::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 1.5rem;
    width: 0px;

    height: 1px;
    background-color: #189A46;
    transition: all .5s;

   }


.header__container a.dropdown-item:hover{
    color: #189A46;
    background-color: unset;
}

   .header__container a.dropdown-item:hover:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 1.5rem;
    width: 80px;

    height: 1px;
    background-color: #189A46;
    transition: all .5s;
   }


/* Dropdown Menu Darkmode */

.dark .header__container .dropdown-item{
    color: rgba(255, 255, 255, 0.9);
}

.dark .header__container .dropdown-menu{
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.1);
   
}

.header__container .navbar-toggler {
    padding: 0;
    margin: 0;
}
/* Expand button */
.header__container .navbar-toggler i{
    font-size: 30px;
    color: #189A46;
}

.header__container button[aria-expanded="false"] .fa-rectangle-xmark{
    display: none;
}
.header__container button[aria-expanded="false"] .fa-angles-down{
    display: block;
}

.header__container .fa-rectangle-xmark{
    display: block;
}
.header__container .fa-angles-down{
    display: none;
}



/* CAROUSEL */
.carousel__container .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    border: 0;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

.carousel__container .carousel-indicators li.active{
    width: 30px;
    height: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #189A46;
}



/* ***************** */
.carousel__container .carousel-item{
    height: 1000px;
}

.carousel__container .carousel-item img{
    height: 100%;
    object-fit: cover;
}




.carousel__container .carousel-item::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(21, 21, 21, 0.5);
}

.carousel__content{
    position: absolute;
    /* width: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 500px; */
    z-index: 2;
    /* background-color: #151515; */
}

.carousel__container{
    /* height: 700px; */
    background-color: #189A46;
}

.carousel__contentInfo{
    max-width: 700px;
}

.carousel__contentInfo h3{
    color: rgb(145, 104, 104);
}


@media only screen and (max-width: 991px){
    .header__container #switchButton{
        position: absolute;
        right: 50px;
        top: 20px;
    }
    .header__container a.dropdown-item:hover:after {
        width: 0px;
    }
    .navbar-light .navbar-nav .nav-link:hover::after{
        width: 0px;
    }
    .header__container .dropdown-menu{
        text-align: center;
    }
}

@media (max-width:1200px){

}
@media (max-width:992px){
    
}
@media (max-width:768px){
    
}
@media (max-width:576px){
    
}
@media (min-width:575px){
    
}
